<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>

		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>


		<File name="FileAppender" fileName="logs/application.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</File>


		<RollingFile name="RollingFileAppender"
			fileName="logs/app-rolling.log"
			filePattern="logs/app-rolling-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>


		<Logger name="com.demo" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
	</Loggers>
</Configuration>
